* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--color-secondary);
}

/* App global color pallete */
:root {
  --color-primary: #aeaeae;
  --color-secondary: #e4e4e4;
  --color-accent: #d4665b;
  /* events global color set */
  --color-event-success: #5cb058;
  --color-event-danger: #b02942;
  --color-event-warn: #d35c27;
}

/* define varous events related type colors */
.event--success {
  fill: var(--color-event-success);
}

.event--danger {
  fill: var(--color-event-danger);
}

.event--warn {
  fill: var(--color-event-warn);
}
